<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>157438423520-3k8da944ch8ibnk54puihupev9ddl8o6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157438423520-3k8da944ch8ibnk54puihupev9ddl8o6</string>
	<key>API_KEY</key>
	<string>AIzaSyCHcnkXCkd9s2JnlE-KnjMo6ZstnaZu7bw</string>
	<key>GCM_SENDER_ID</key>
	<string>157438423520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ominext.ChatForWork</string>
	<key>PROJECT_ID</key>
	<string>chatforwork-bd3e3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatforwork-bd3e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157438423520:ios:0499cae1288be11f</string>
	<key>DATABASE_URL</key>
	<string>https://chatforwork-bd3e3.firebaseio.com</string>
</dict>
</plist>